@model FinancasApp.Presentation.Models.Account.AccountForgotPasswordViewModel

<div class="text-center">
    <img src="~/img/imgFinancas1.png" width="350" height="200" />
    <h3>Recuperar Senha</h3>
</div>

@using (Html.BeginForm())
{
    <div class="mb-2">
        <label><strong>E-mail</strong></label>
        @Html.TextBoxFor(x => x.Email, new { @class = "form-control", @placeholder = "Digite seu e-mail" })
    </div>
    <div class="text-danger">
        @Html.ValidationMessageFor(x => x.Email)
    </div>

    <div class="mb-2 text-center">
        <input type="submit" class="btn btn-warning btn-block" value="Recuperar" />
    </div>

    <div class="mb-2 text-center">
        <a href="/Account/Login" style="text-decoration: none">Voltar</a>
    </div>
}
